<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.data.global.title != '' %}
          <h1 class="text-center">{{site.data.global.title}}</h1>
          {% endif %}

          {% if site.data.global.description != '' %}
          <p class="text-center">{{site.data.global.description}}</p>
          {% endif %}


          <div class="hero-buttons">
            {% if site.data.global.email != '' %}
              <a href="mailto:{{ site.data.global.email }}"><button class="btn btn-default btn-md"><i class="fa fa-envelope fa-md"></i>Email</button></a>
            {% endif %}
            {% if site.data.global.github != '' %}
              <a href="https://github.com/{{ site.data.global.github }}"><button class="btn btn-default btn-md"><i class="fa fa-github fa-ld"></i>Github</button></a>
            {% endif %}
            {% if site.data.global.linkedin != '' %}
              <a href="https://linkedin.com/in/{{ site.data.global.linkedin }}"><button class="btn btn-default btn-md"><i class="fa fa-linkedin fa-md"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.data.global.blog != '' %}
              <a href="http://{{ site.data.global.blog }}"><button class="btn btn-default btn-md"><i class="fa fa-book fa-md"></i>Blog</button></a>
            {% endif %}
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
